@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Montserrat";
}

/* HEADER */

header img {
  display: flex;
  margin: 0 auto;

  width: 172px;
}

nav {
  display: flex;
  justify-content: center;
  margin: 20px;
}

nav ul {
  display: flex;
}

nav ul li a {
  text-transform: uppercase;
  color: #000;

  /*ponelo en negrita*/
  font-weight: bold;

  margin: 0 0 0 20px;
}
nav ul li a:hover {
  border-bottom: 2px solid;
}

/*----------------- BODY -------------------*/

.contenedor {
  display: grid;
  grid-template-columns: repeat(2, 260px);
  justify-content: center;
}

label {
  margin: 0 0 20px 0;
}

.input {
  padding: 7px;
  font-size: 16px;
  outline: none;
}
input:focus {
  border: 2px solid;
}

.nombre,
.apellido,
.correo,
.telefono {
  margin: 0px 0px 20px 0px;
}

.textArea {
  width: 600px;
}

textarea {
  font-size: 20px;
  width: 486px;
  height: 236px;
  padding: 7px;
  resize: none;
  outline: none;
}

textarea:focus {
  border: 2px solid;
}

.puente {
  width: 198px;
  height: 50px;
}
/* CSS TABLAS */
.tablas {
  display: flex;
  justify-content: center;
}

table {
  margin: 40px;
}
thead {
  text-align: left;
  background-color: #ccc;
}

th,
td {
  border: 2px solid;
  padding: 15px;
}

/* BOTOM */

.btn {
  display: flex;
  justify-content: center;
}
.btn button {
  width: 600px;
  font-size: 20px;
  padding: 10px;

  cursor: pointer;
  transition: all 400ms ease;

  border-radius: 6px;
  background-color: #fff;
  border: 2px solid;
}

.btn button:hover {
  background-color: #bfbfbf;
  border: 2px solid;
}

/* FOOTER */
footer {
  text-align: center;
  background: url(../img/bg.jpg);
  color: #fff;
  padding: 60px;
}

/* MEDIA @ */

@media screen and (max-width: 700px) {
  .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .input {
    width: 350px;
  }
  .textArea {
    width: auto;
    display: flex;
  }

  textarea {
    width: 350px;
  }

  .btn button {
    width: 200px;
  }
}
